<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainCheck - Marketing </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/profile-pic.png" type="image/x-icon">
    <link rel="stylesheet" href="marketing.css">
</head>

<body>
    <main>
        <section class="home">
            <div class="home-text">
                <h1 class="text-h4">Bem-Vindo ao MainCheck</h1>
                <p>O MainCheck ajuda você a acompanhar suas manutenções preventivas de maquinas.</p>
            </div>
            <div class="home-img">
                <img src="/src/main/resources/templates/images/Gemini_Generated_Image_6y2fnh6y2fnh6y2f.jpg" alt="">
            </div>
        </section>

        <section class="features">
            <h2 class="section-title">Por que escolher o MainCheck?</h2>
            <div class="feature-item">
                <h3 class="feature-title">🔄 Sincronização em Tempo Real</h3>
                <p>Mantenha suas manutenções atualizadas em tempo real.</p>
            </div>
            <div class="feature-item">
                <h3 class="feature-title">🚀 Produtividade Elevada</h3>
                <p>Organize suas manutenções, defina as prioridades e aumente sua eficiência.</p>
            </div>
            <div class="feature-item">
                <h3 class="feature-title">📅 Planejamento Facilitado</h3>
                <p>Planeje suas manutenções de forma preventivas</p>
            </div>
        </section>

        <section class="download">
            <h2 class="section-title">Acesse o MainCheck Agora!</h2>

            <div class="buton">
                <button><a href="/src/main/resources/templates/homepage/"></a>Clique Aqui:</button>
            </div>

        </section>

        <footer>
            <p class="fot">&copy; 2024 MainCheck</p>
        </footer>
    </main>
    <script src="Homepage.js"></script>
</body>

</html>