
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: var(--text);
}
:root{
    --principal:#2C3E50;
    --fundo:#ECF0F1;
    --destaque_pos:#27AE60;
    --butons:#E67E22;
    --vazio:#ffff;
    --text:#393939;
    --alert:#E74C3C;
    --warning:#F1C40F;


}
body{
    color: var(--principal);
    background-color: var(--fundo)
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--fundo);
    transition: all 0.5s;
    position: fixed;


}
.navigation .logo{
    color: var(--principal);
    font-size: 1.7rem;
    font-weight: 600;

}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--text);
    font-weight: 500;
    transition: all 0.5s;


}
.navigation ul li a:hover{
    color: var(--butons);
}

.menu{
  cursor: pointer; 
  display: none; 
}
.menu .bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: var(--text);
    margin: 5px auto;
    transition: all 0.3s;


}
.log-item{
    padding: 10px 25px;
    background: var(--butons);
    color: var(--text);
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s;
}
.log-item:hover{
    color: var(--text);
    background-color: var(--destaque_pos);
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--principal);
}
.home{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;


}
.home-text{
    max-width: 45rem;
    
   

}
.home-text .text-h4{
    font-size:2rem;
    color:var(--principal);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
    margin-top: 2rem;
    text-align:justify;
}
.home-btn{
    padding: 20px 50px;
    background: var(--butons);
    color: var(--text);
    border-radius: 10px;
    font-weight: 900;
    transition: all 0.5s;
    
}
.home-btn:hover{
    background: var(--destaque_pos);
}
.home img{
    width: 80%;
    border-radius: 80px;
    margin-left: 9rem;
}
.fot{
    background-color:var(--principal);
    color: var(--vazio);
    padding: 10px;
    text-align: center;
}
.gambi :hover{
    color: var(--principal);
}

@media(max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display:block;
    
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--fundo);
        gap: 10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
            margin: 16px 0;

    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }
    .home-btn{
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .home img{
        margin-left: 0;
        width: 25%;
       
         
    }
    .home .text-h4{
        font-size: 20px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
        text-align: justify;

    }
     
}
